In [9]:
import pandas as pd
import os
import re
import geonamescache
from unidecode import unidecode

In [34]:
df = pd.read_fwf(r'headlines.txt', header=None)
df.columns = ['headline']
df['headline']=df['headline'].apply(unidecode)
df.head()

                                  headline
0                 Zika Outbreak Hits Miami
1          Could Zika Reach New York City?
2        First Case of Zika in Miami Beach
3  Mystery Virus Spreads in Recife, Brazil
4  Dallas man comes down with case of Zika

In [35]:
#Get All City Name and Country Name
geo = geonamescache.GeonamesCache()
countries = [unidecode(country) for country in geo.get_countries_by_names().keys()]
cities = [unidecode(city['name']) for city in geo.get_cities().values()]

In [36]:
countries_pattern = re.compile(r'\b|\b'.join(countries))
cities_pattern = re.compile(r"\b|\b".join(cities))

In [37]:
def getcountry(text):
    country = countries_pattern.search(text)
    print()
    if country:
        start, end = country.start(), country.end()
        return text[start:end]

def getcity(text):
    city = cities_pattern.search(text)
    if city:
        start, end = city.start(), city.end()
        return text[start:end]

In [38]:
z=getcity('First Case of Zika in Miami Beach')

In [39]:
df['cities']=df['headline'].apply(getcity)
df['countries']=df['headline'].apply(getcountry)

In [40]:
df.head()

                                  headline         cities countries
0                 Zika Outbreak Hits Miami          Miami      None
1          Could Zika Reach New York City?  New York City      None
2        First Case of Zika in Miami Beach          Miami      None
3  Mystery Virus Spreads in Recife, Brazil         Recife    Brazil
4  Dallas man comes down with case of Zika         Dallas      None